* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v117_226 {
  width: 100%;
  height: 2000px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_227 {
  width: 100%;
  height: 480px;
  background: url("../images/v117_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 0px;
  overflow: hidden;
}
.v117_228 {
  width: 100%;
  height: 480px;
  background: url("../images/v117_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_229 {
  width: 100%;
  height: 480px;
  background: url("../images/v117_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 0px;
  overflow: hidden;
}
.v117_230 {
  width: 100%;
  height: 122px;
  background: url("../images/v117_230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_231 {
  width: 100%;
  height: 122px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15000000596046448);
  overflow: hidden;
}
.v117_232 {
  width: 166px;
  height: 83px;
  background: url("../images/v117_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 394px;
  overflow: hidden;
}
.v117_233 {
  width: 499px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 74px;
  left: 1016px;
  font-family: Heebo;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v117_234 {
  width: 350px;
  height: 29px;
  background: url("../images/v117_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1165px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v117_236 {
  width: 53px;
  color: rgba(50,73,80,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_238 {
  width: 221px;
  height: 109px;
  background: url("../images/v117_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 653px;
  left: 204px;
  overflow: hidden;
}
.v117_239 {
  width: 221px;
  height: 109px;
  background: url("../images/v117_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_240 {
  width: 221px;
  color: rgba(50,73,80,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 44px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v117_257 {
  width: 100%;
  height: 127px;
  background: url("../images/v117_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1873px;
  left: 0px;
  overflow: hidden;
}
.v117_258 {
  width: 100%;
  height: 127px;
  background: rgba(50,73,80,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_259 {
  width: 100%;
  height: 76px;
  background: rgba(44,63,69,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v117_260 {
  width: 295px;
  color: rgba(184,184,184,1);
  position: absolute;
  top: 94px;
  left: 812px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v117_261 {
  width: 724px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 405px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v117_262 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1303px;
  overflow: hidden;
}
.v117_263 {
  width: 30px;
  height: 30px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_264 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1348px;
  overflow: hidden;
}
.v117_265 {
  width: 30px;
  height: 30px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_266 {
  width: 16px;
  height: 16px;
  background: url("../images/v117_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
}
.v117_267 {
  width: 16px;
  height: 16px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_268 {
  width: 7px;
  height: 7px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v117_269 {
  width: 1px;
  height: 1px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 11px;
}
.v117_270 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1393px;
  overflow: hidden;
}
.v117_271 {
  width: 30px;
  height: 30px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_272 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1438px;
  overflow: hidden;
}
.v117_273 {
  width: 30px;
  height: 30px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_274 {
  width: 31px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1483px;
  overflow: hidden;
}
.v117_275 {
  width: 30px;
  height: 30px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v117_276 {
  width: 75px;
  height: 35px;
  background: url("../images/v117_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 833px;
  overflow: hidden;
}
.v117_277 {
  width: 96px;
  height: 33px;
  background: url("../images/v117_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 1260px;
  overflow: hidden;
}
.v117_363 {
  width: 100%;
  height: 763px;
  background: url("../images/v117_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 812px;
  left: 129px;
  overflow: hidden;
}
.v117_303 {
  width: 386px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_305 {
  width: 386px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_313 {
  width: 387px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 484px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_343 {
  width: 387px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_304 {
  width: 387px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_314 {
  width: 386px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_345 {
  width: 386px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 0px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_349 {
  width: 248px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 663px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_347 {
  width: 700px;
  height: 390px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 525px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_308 {
  width: 66px;
  color: rgba(50,73,80,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_317 {
  width: 701px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 525px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_326 {
  width: 701px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 525px;
  border: 1px solid rgba(217,217,217,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_318 {
  width: 81px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 0px;
  left: 525px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_319 {
  width: 124px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 51px;
  left: 536px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_327 {
  width: 196px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 112px;
  left: 525px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_311 {
  width: 72px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 223px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_315 {
  width: 71px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 447px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_344 {
  width: 92px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 559px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_310 {
  width: 142px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_316 {
  width: 36px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 335px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_346 {
  width: 66px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 671px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_350 {
  width: 185px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 671px;
  left: 525px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_348 {
  width: 183px;
  color: rgba(50,73,80,1);
  position: absolute;
  top: 223px;
  left: 525px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_323 {
  width: 26px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 1182px;
  overflow: hidden;
}
.v117_324 {
  width: 26px;
  height: 24px;
  background: url("../images/v117_324.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v117_325 {
  width: 14px;
  height: 7px;
  background: rgba(50,73,80,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
}
.v117_352 {
  width: 109px;
  height: 27px;
  background: url("../images/v117_352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 722px;
  left: 525px;
  overflow: hidden;
}
.v117_354 {
  width: 281px;
  height: 55px;
  background: rgba(87,152,76,1);
  opacity: 1;
  position: absolute;
  top: 708px;
  left: 945px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v117_355 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 718px;
  left: 1021px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v117_364 {
  width: 100%;
  height: 250px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1626px;
  left: 0px;
  overflow: hidden;
}
.v117_369 {
  width: 288px;
  height: 162px;
  background: url("../images/v117_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1643px;
  left: 608px;
  overflow: hidden;
}
.v117_368 {
  width: 288px;
  color: url("../images/v117_368.png");
  position: absolute;
  top: 58px;
  left: 0px;
  font-family: Roboto Slab;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v117_366 {
  width: 118px;
  color: rgba(87,152,76,1);
  position: absolute;
  top: 0px;
  left: 85px;
  font-family: Roboto Slab;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
