@media (max-width: 1480px) {
    element.style {
        padding-left: 50px;
    }   
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 1280px) {
    .v117_226 {
        width: 100%;
        height: 3000px;
        background: rgba(247,247,247,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
      }
      .v117_257 {
        width: 100%;
        height: 127px;
        background: url(../img/v117_257.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2873px;
        left: 0px;
        overflow: hidden;
      }
        .v117_364 {
            width: 100%;
            height: 250px;
            background: rgba(255,255,255,1);
            opacity: 1;
            position: absolute;
            top: 2624px;
            left: 0px;
            overflow: hidden;
    }
    .v117_369 {
        width: 288px;
        height: 162px;
        background: url(../img/v117_369.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 2690px;
        left: 40%;
        overflow: hidden;
    }
    .v117_363 {
        width: 96%;
        height: 1760px;
        background: url(../img/v117_363.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 812px;
        left: 35px;
        overflow: hidden;
    }
    
    .v117_318 {
        width: 81px;
        color: rgba(50,73,80,1);
        position: absolute;
        top: 795px;
        left: 0%;
        font-family: Roboto Slab;
        font-weight: Regular;
        font-size: 17px;
        opacity: 1;
        text-align: left;
    }
    .v117_317 {
        width: 701px;
        height: 55px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 832px;
        left: 0%;
        border: 1px solid rgba(217,217,217,1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    .v117_327 {
        width: 196px;
        color: rgba(50,73,80,1);
        position: absolute;
        top: 920px;
        left: 0%;
        font-family: Roboto Slab;
        font-weight: Regular;
        font-size: 17px;
        opacity: 1;
        text-align: left;
    }
    .v117_326 {
        width: 701px;
        height: 55px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 961px;
        left: 0%;
        border: 1px solid rgba(217,217,217,1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    .v117_348 {
        width: 183px;
        color: rgba(50,73,80,1);
        position: absolute;
        top: 1043px;
        left: 0%;
        font-family: Roboto Slab;
        font-weight: Regular;
        font-size: 17px;
        opacity: 1;
        text-align: left;
    }
    .v117_347 {
        width: 700px;
        height: 390px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 1080px;
        left: 0%;
        border: 1px solid rgba(217,217,217,1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    .v117_350 {
        width: 185px;
        color: rgba(50,73,80,1);
        position: absolute;
        top: 1501px;
        left: 1%;
        font-family: Roboto Slab;
        font-weight: Regular;
        font-size: 17px;
        opacity: 1;
        text-align: left;
    }
    .v117_352 {
        width: 109px;
        height: 27px;
        background: url(../img/v117_352.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: absolute;
        top: 1542px;
        left: 10px;
        overflow: hidden;
    }
    .v117_349 {
        width: 248px;
        height: 55px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 1536px;
        left: 140px;
        border: 1px solid rgba(217,217,217,1);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    .v117_354 {
        width: 281px;
        height: 55px;
        background: rgba(87,152,76,1);
        opacity: 1;
        position: absolute;
        top: 1538px;
        left: 435px;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        overflow: hidden;
        font: 30px Arial;
    }
}

.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    color: #fff;
    border:1px solid #222;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 95%;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 50px 10px 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #fdf7f7;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
 
.hidden-menu li {
    padding:10px 0;
}
 
.hidden-menu li a {
    font-size:15px;
    color:#000;
    padding:6px 0px;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    left: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}
 
.btn-menu span {
    display: block;
    height: 5px;
    background-color: #222;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
 
.btn-menu span.first {
    margin-top: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




@media (max-width: 1024px) {
  .flex {
    display: flow-root  ;
    }
    .text-custom-gray-900 {
        --tw-text-opacity: 1;
        color: rgb(50 73 80 / var(--tw-text-opacity));
        padding: 15px;
    }
    .wrap {
        max-width: 1024px;
       /* margin: 0 auto;*/
    }
   #bbbb {
    display: none;
   }
   .text-custom-brown {
    --tw-text-opacity: 1;
    color: rgb(115 84 64 / var(--tw-text-opacity));
    margin-top: 110px;
}
.mt-\[60px\] {
    margin-top: 60px;
    margin: 40%;
}
.drop-shadow-3xl {
    --tw-drop-shadow: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.25));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    padding-left: 10px;
}
.v53_10 {
    width: 100%;
    height: 3905px;
    background: rgba(251,240,240,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v53_22 {
    width: 827px;
    height: 109px;
    background: url(../img/v53_22.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 653px;
    left: 64px;
    overflow: hidden;
}
.v53_288 {
    max-width: 85%;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 780px;
    left: 5%;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_638 {
    width: 4px;
    height: 60px;
    background: rgba(235,87,87,1);
    opacity: 1;
    position: absolute;
    top: 1135px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_637 {
    max-width: 85%;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1138px;
    left: 7%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_649 {
    width: 100%;
    height: 619.5px;
    background: rgba(255,249,249,1);
    opacity: 1;
    position: absolute;
    top: 1240.5px;
    left: 3%;
    overflow: hidden;
}
.v117_644 {
    width: 324px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1253px;
    left: 45%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v117_638_2 {
    width: 350px;
    height: 4px;
    background: rgb(117, 116, 109);
    opacity: 1;
    position: absolute;
    top: 1323px;
    left: 45%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_643 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1341px;
    left: 45%;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_647 {
    width: 296px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1533px;
    left: 5%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v117_638_3 {
    width: 350px;
    height: 4px;
    background: rgb(117, 116, 109);
    opacity: 1;
    position: absolute;
    top: 1600px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v53_97 {
    width: 100%;
    height: 450px;
    background: url(../img/v53_97.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3456px;
    left: 0px;
    overflow: hidden;
}
.v117_646 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1616px;
    left: 5%;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_159 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_159.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3105px;
    left: 10px;
    overflow: hidden;
}
.v53_163 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_163.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3105px;
    left: 400px;
    overflow: hidden;
}
.v53_147 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_147.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2745px;
    left: 10px;
    overflow: hidden;
}
.v53_151 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_151.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2745px;
    left: 400px;
    overflow: hidden;
}
.v53_155 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_155.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2390px;
    left: 10px;
    overflow: hidden;
}
.v53_130 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_130.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2390px;
    left: 400px;
    overflow: hidden;
}
.v53_135 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_135.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2040px;
    left: 10px;
    overflow: hidden;
}
.v53_140 {
    width: 350px;
    height: 321px;
    background: url(../img/v53_140.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2040px;
    left: 400px;
    overflow: hidden;
}
.v117_650 {
    width: 647px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1940px;
    left: 7%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_651 {
    width: 4px;
    height: 40px;
    background: rgba(235,87,87,1);
    opacity: 1;
    position: absolute;
    top: 1935px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v53_311 {
    width: 600px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1240px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_317 {
    width: 100px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1238px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_318 {
    width: 51px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1173px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_312 {
    width: 52px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1173px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_174 {
    width: 100%;
    height: 1785px;
    background: rgb(254, 223, 223);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 0px;
    overflow: hidden;
}
.v53_205 {
    width: 100%;
    height: 470px;
    background: url(../img/v53_205.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1338px;
    left: 0px;
    overflow: hidden;
}
.v53_308 {
    width: 400px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1040px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_309 {
    width: 56px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 976px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_314 {
    width: 100px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1040px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_315 {
    width: 53px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 975px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_307 {
    width: 498px;
    height: 86px;
    background: url(../img/v53_307.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 75px;
    overflow: hidden;
}
.v53_283 {
    width: 540px;
    height: 498px;
    background: url(../img/v53_283.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 430px;
    left: 50px;
    box-shadow: 0px 20px 40px rgb(0 0 0 / 25%);
    overflow: hidden;
}
.v65_52 {
    width: 225px;
    height: 55px;
    background: url(../img/v65_52.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 870px;
    left: 650px;
    overflow: hidden;
}
.v53_565 {
    width: 495px;
    height: 149px;
    background: url(../img/v53_565.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 497px;
    left: 655px;
    overflow: hidden;
}
.v117_226 {
    width: 100%;
    height: 3320px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v117_257 {
    width: 100%;
    height: 450px;
    background: url(../img/v117_257.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2873px;
    left: 0px;
    overflow: hidden;
}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



@media (max-width: 812px) {
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.flex {
    display: flow-root  ;
    }
    .text-custom-gray-900 {
        --tw-text-opacity: 1;
        color: rgb(50 73 80 / var(--tw-text-opacity));
        padding: 15px;
    }
    .wrap {
        max-width: 812px;
       /* margin: 0 auto;*/
    }
   #bbbb {
    display: none;
   }
   .text-custom-brown {
    --tw-text-opacity: 1;
    color: rgb(115 84 64 / var(--tw-text-opacity));
    margin-top: 110px;
}
.mt-\[60px\] {
    margin-top: 60px;
    margin: 40%;
}
.drop-shadow-3xl {
    --tw-drop-shadow: drop-shadow(0 35px 35px rgba(0, 0, 0, 0.25));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    padding-left: 10px;
}


.v117_226 {
    width: 100%;
    height: 3320px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v117_257 {
    width: 100%;
    height: 450px;
    background: url(../img/v117_257.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2873px;
    left: 0px;
    overflow: hidden;
  }
    .v117_364 {
        width: 100%;
        height: 250px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 2624px;
        left: 0px;
        overflow: hidden;
}
.v117_369 {
    width: 288px;
    height: 162px;
    background: url(../img/v117_369.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2690px;
    left: 40%;
    overflow: hidden;
}
.v117_363 {
    width: 96%;
    height: 1760px;
    background: url(../img/v117_363.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 812px;
    left: 35px;
    overflow: hidden;
}

.v117_318 {
    width: 81px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 795px;
    left: 0%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_317 {
    width: 701px;
    height: 55px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 832px;
    left: 0%;
    border: 1px solid rgba(217,217,217,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v117_327 {
    width: 196px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 920px;
    left: 0%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_326 {
    width: 701px;
    height: 55px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 961px;
    left: 0%;
    border: 1px solid rgba(217,217,217,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v117_348 {
    width: 183px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1043px;
    left: 0%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_347 {
    width: 700px;
    height: 390px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1080px;
    left: 0%;
    border: 1px solid rgba(217,217,217,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v117_350 {
    width: 185px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1501px;
    left: 1%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_352 {
    width: 109px;
    height: 27px;
    background: url(../img/v117_352.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1542px;
    left: 10px;
    overflow: hidden;
}
.v117_349 {
    width: 248px;
    height: 55px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 1536px;
    left: 140px;
    border: 1px solid rgba(217,217,217,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.v117_354 {
    width: 281px;
    height: 55px;
    background: rgba(87,152,76,1);
    opacity: 1;
    position: absolute;
    top: 1538px;
    left: 435px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    font: 30px Arial;
}
.v53_22 {
    width: 700px;
    height: 125px;
    background: url(../img/v53_22.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 653px;
    left: 64px;
    overflow: hidden;
}
.v53_23 {
    width: 727px;
    height: 125px;
    background: url(../img/v53_23.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v53_24 {
    width: 717px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 44px;
    opacity: 1;
    text-align: left;
}
.v117_649 {
    width: 97%;
    height: 619.5px;
    background: rgba(255,249,249,1);
    opacity: 1;
    position: absolute;
    top: 1315.5px;
    left: 10px;
    overflow: hidden;
}
.btn-menu {
    color: #fff;
    border: 1px solid #222;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 95%;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.v53_10 {
    width: 100%;
    max-width: 812px;
    height: 3905px;
    background: rgba(251,240,240,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v53_24_1 {
    width: 200px;
    color: rgb(0, 198, 3);
    position: absolute;
    top: 101px;
    left: 0px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}
.v117_651 {
    width: 4px;
    height: 40px;
    background: rgba(235,87,87,1);
    opacity: 1;
    position: absolute;
    top: 1984px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_650 {
    width: 647px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1990px;
    left: 7%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_646 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1680px;
    left: 5%;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_638_3 {
    width: 350px;
    height: 4px;
    background: rgb(117, 116, 109);
    opacity: 1;
    position: absolute;
    top: 1670px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_647 {
    width: 296px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1600px;
    left: 5%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v117_642 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1400px;
    left: 5%;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_638_1 {
    width: 350px;
    height: 4px;
    background: rgb(117, 116, 109);
    opacity: 1;
    position: absolute;
    top: 1393px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    display: block;
}
.v117_640 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1325px;
    left: 5%;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v117_643 {
    width: 350px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1401px;
    left: 420px;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v117_638_2 {
    width: 350px;
    height: 4px;
    background: rgb(117, 116, 109);
    opacity: 1;
    position: absolute;
    top: 1393px;
    left: 420px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_644 {
    width: 324px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1325px;
    left: 420px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v117_638 {
    width: 4px;
    height: 60px;
    background: rgba(235,87,87,1);
    opacity: 1;
    position: absolute;
    top: 1235px;
    left: 5%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
.v117_637 {
    max-width: 85%;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1225px;
    left: 7%;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_174 {
    width: 100%;
    height: 2000px;
    background: rgb(254, 223, 223);
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 0px;
    overflow: hidden;
}
.v53_205 {
    width: 100%;
    height: 470px;
    background: url(../img/v53_205.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1555px;
    left: 0px;
    overflow: hidden;
}
.v53_205 {
    width: 100%;
    height: 470px;
    background: url(../img/v53_205.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1555px;
    left: 0px;
    overflow: hidden;
}
.v53_311 {
    width: 600px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1450px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_312 {
    width: 52px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1400px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_317 {
    width: 100px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1448px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_318 {
    width: 51px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1400px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_314 {
    width: 100px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1250px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_315 {
    width: 53px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1205px;
    left: 645px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_308 {
    width: 400px;
    color: rgba(50,73,80,1);
    position: absolute;
    top: 1250px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
}
.v53_309 {
    width: 56px;
    color: rgba(87,152,76,1);
    position: absolute;
    top: 1205px;
    left: 50px;
    font-family: Roboto Slab;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v53_565 {
    width: 495px;
    height: 149px;
    background: url(../img/v53_565.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1037px;
    left: 55px;
    overflow: hidden;
}
.v65_52 {
    width: 225px;
    height: 55px;
    background: url(../img/v65_52.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 960px;
    left: 60px;
    overflow: hidden;
}






}

 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/   
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
 /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/ 



@media (max-width: 667px) {
    .flex {
        display: flow-root  ;
        }
        .text-custom-gray-900 {
            --tw-text-opacity: 1;
            color: rgb(50 73 80 / var(--tw-text-opacity));
            padding: 15px;
        }
        .wrap {
            max-width: 667px;
           /* margin: 0 auto;*/
        }
        .v53_10 {
            width: 100%;
            max-width: 812px!important;
            height: 8105px;
            background: rgba(251,240,240,1);
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            overflow: hidden;
        }
}
  